# Ignore environment variable files
.env
.env.*

# Ignore node modules
node_modules/

# Ignore build output directories
.next/
out/

# Ignore configuration files
.eslintrc.json
prettier.config.js
.gitignore
.prettierignore
next.config.js
package.json
package-lock.json
postcss.config.js

# Ignore SVG files
*.svg

# Ignore Markdown files
*.md

# Ignore specific CSS files
src/app/globals.css

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.ico

# Ignore other static assets
public/*
